<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Staatliches&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&family=Staatliches&display=swap" rel="stylesheet">   
</head>

<body>

    <h3 style='font-size: 2em; margin-top: 50px;'><span>Every bit of your generous donation</span> <br> <span>
        will be spent for the needs of stray animals </span><br>
        <span> around the globe!</span></h3>
    <div>
        <form method='POST' action='/donate' class= 'centered'>
            <input type='text' class='field'  name='first_name' placeholder='First Name' required>
            <input type='text' class='field'  name='last_name' placeholder='Last Name' required>
            <input type='number' class='field' name='donation_amount' min='0.01' max='999' step='.01' placeholder='Amount' required>
            <input type='email' class='field' name='email' placeholder = 'E-Mail Address' required>
            <button style='font-size: 20px;'>Donate!</button>
        </form>
    </div>

</body>

</html>