<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Staatliches&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&family=Staatliches&display=swap" rel="stylesheet">   
</head>

<body>
    <h1><span style='color: rgb(255,0,0);'>DONATE NOW</span> FOR<br> STRAY ANIMALS!</h1>

    <div id= 'content'>
        <p style='font-size: 72px; color: rgb(255, 255, 255); margin: 0'><strong> $<%=total%></strong></p>
        <p style='font-size: 36px; margin: 0;'> of total donations were made by </p>
        <p style='font-size: 62px; color: rgb(255, 0, 0); margin: 0;';><strong>-<%=count%>-</strong></p>
        <p style='font-size: 31px; margin:0;'>generous people!</p>

        <a href='/donate' class='donateRouteBtn' type='button'>Donate Now!</a>

    </div>  

   <div style="text-align: center; font-size: 24px;  font-family: 'Rajdhani', sans-serif;">
        <p><Strong>Latest Donator :  </strong><span style='font-weight: bold; color: rgb(255, 0, 0); font-size: 36px;'><%=donatorName%></span> donated <span style='font-size: 36px; font-weight: bold;'>$<%=amount%></span></p>
   </div>

   
</body>

</html>