
body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),
    url('https://images.unsplash.com/photo-1558623535-33cc88178982?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80') center center no-repeat fixed;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.1);
    color: #FFF;
}

h1, h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 7.5em;
    font-family: 'Anton', sans-serif;
    font-family: 'Staatliches', cursive;
}


.donateRouteBtn {
    display: block;
    margin: 25px auto; 
    font-size: 31px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: white;
    width: 250px;
    border: 1px solid white;
    font-family: 'Rajdhani', sans-serif;
}

#content {
    display: block;
    margin: auto;
    height: 100%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

form {
    margin: auto;
    width: 350px;
    text-align: center;
    padding: 25px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(250,250,250,0.05);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 100;
}

.field {
    text-align: center;
    width: 250px;
    display: block;
    margin: 15px auto;
    padding: 10px;
    font-size: 20px;
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px  solid  rgb(197, 197, 197,0.5);
    color: white;
    font-family: 'Rajdhani', sans-serif;
}   

button {
    padding: 15px;
    margin: 15px;
    background: transparent;
    color: white;
    width: 50%;
    border: 1px solid white;
    font-family: 'Rajdhani', sans-serif;
}

button:hover {
    color: black;
    background: white;
    transition: 0.3s;
    cursor: pointer;
}

input:focus {
    color: white;
}

::placeholder {
    color: rgb(197, 197, 197);
}

input:focus::placeholder {
    color: transparent;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}